{%- macro meta_index_archive(page, config, filterout="ignore") %}
        <span{%- if config.extra.meta_index.size %} class="{{ config.extra.meta_index.size }}"{% endif %}>

        {#- Author #}
        {%- if page.taxonomies.authors and config.taxonomies %}
          {%- for author in page.taxonomies.authors %}
          {%- if author_flag %}, {% endif %}
          <a href="{{ get_taxonomy_url(kind='authors', name=author, lang=lang) | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ author }}</a>
          {%- set_global author_flag = true %}
          {%- endfor %}
        {%- elif page.extra.authors and config.extra.meta_index.author %}
          {%- if config.extra.icon_author %}<i class="{{ config.extra.icon_author }}"></i> {% endif %}
          {%- for author in page.extra.authors %}
          {%- if author_flag %}, {% endif %} {{ author }}
          {%- set_global author_flag = true %}
          {%- endfor %}
        {%- elif config.extra.author and config.extra.meta_index.author %}
          {%- if config.extra.icon_author %}<i class="{{ config.extra.icon_author }}"></i> {% endif %} {{ config.extra.author }}
        {%- endif %}

          {#- divider #}
          {%- if config.extra.meta_index.author %}
          {%- if config.extra.meta_index.readtime or config.extra.meta_index.date or config.extra.meta_index.updated or config.extra.meta_index.categories_tags %}
          {%- if config.extra.meta_index.divider %}<span class="hpad">{{ config.extra.meta_index.divider | safe }}</span>{%- else %} &nbsp; {%- endif %}
          {%- endif %}
          {%- endif %}

        {#- ReadTime #}
          {%- if config.extra.meta_index.readtime %} {%- if config.extra.icon_read %}<i class="{{ config.extra.icon_read }}"></i> {% endif %} {{ page.reading_time }} {{ config.extra.meta_index.readstring | default(value="min") }}
          {#- divider #}
          {%- if config.extra.meta_index.date or config.extra.meta_index.updated or config.extra.meta_index.categories_tags %}
          {%- if config.extra.meta_index.divider %}<span class="hpad">{{ config.extra.meta_index.divider | safe }}</span>{%- else %} &nbsp; {%- endif %}{%- endif %}{%- endif %}

        {#- Date #}
          {%- if config.extra.meta_index.date %} {%- if config.extra.icon_date %}<i class="{{ config.extra.icon_date }}"></i> {% endif %}
          {%- if config.extra.date_locale %}
          {%- if lang != config.default_language -%}
            {%- set lang_locale = trans(key="date_locale" | safe, lang=lang) -%}
          {%- else -%}
            {%- set lang_locale = config.extra.date_locale -%}
          {%- endif -%}
          {{ page.date | date(format="%B %d, %Y", locale=lang_locale) }}
          {%- else %} {{ page.date | date(format="%B %d, %Y") }} {%- endif %}
          {#- divider #}
          {%- if config.extra.meta_index.updated or config.extra.meta_index.categories_tags %}
          {%- if config.extra.meta_index.divider %}<span class="hpad">{{ config.extra.meta_index.divider | safe }}</span>{%- else %} &nbsp; {%- endif %}{%- endif %}{% endif %}

        {#- Updated #}
          {%- if config.extra.meta_index.updated and page.updated %} {%- if config.extra.icon_date %}<i class="{{ config.extra.icon_date }}"></i> {% endif -%}
          {%- if lang != config.default_language %} {{ trans(key="Updated" | safe, lang=lang) }}{% else %} Updated{% endif %}:
          {%- if config.extra.date_locale %}
          {%- if lang != config.default_language -%}
            {%- set lang_locale = trans(key="date_locale" | safe, lang=lang) -%}
          {%- else -%}
            {%- set lang_locale = config.extra.date_locale -%}
          {%- endif %} {{ page.updated | date(format="%B %d, %Y", locale=lang_locale) }}
          {%- else %} {{ page.updated | date(format="%B %d, %Y") }} {%- endif %}

          {#- divider #}
          {%- if config.extra.meta_index.categories_tags %}
          {%- if config.extra.meta_index.divider %}<span class="hpad">{{ config.extra.meta_index.divider | safe }}</span>{%- else %} &nbsp; {%- endif %}{%- endif %}{% endif %}

        {#- Categories #}
          {%- if page.taxonomies.categories %} {%- if config.extra.icon_info %}<i class="{{ config.extra.icon_info }}"></i> {% endif %} [{% for cat in page.taxonomies.categories %}<a href="{{ get_taxonomy_url(kind='categories', name=cat, lang=lang) | safe }}{%- if config.extra.uglyurls %}index.html{%- endif %}">{{ cat }}</a>{% endfor %}]{% endif %}

        {#- Tags #}
          {%- if page.taxonomies.tags %} {%- for tag in page.taxonomies.tags %} {%- if tag!=filterout %} #<a href="#{{ tag }}" class="meta-tag tag-{{ tag }}">{{ tag }}</a> {%- endif %}{% endfor -%}{%- endif %}</span>
{%- endmacro meta_index_archive %}

