{# This Page Shows the 'Pages' (abridge/content/pages) eg: example.com/about/  example.com/privacy/ #}

{% extends "abridge/templates/page.html" %}

{%- block content %}
    <div>
{#- Updated #}
          {%- if config.extra.meta_post.updated and page.updated %} {%- if config.extra.icon_date %}<i class="{{ config.extra.icon_date }}"></i> {% endif -%}
          {%- if lang != config.default_language %} {{ trans(key="Updated" | safe, lang=lang) }}{% else %} Updated{% endif %}:
          {%- if config.extra.date_locale %}
          {%- if lang != config.default_language -%}
            {%- set lang_locale = trans(key="date_locale" | safe, lang=lang) -%}
          {%- else -%}
            {%- set lang_locale = config.extra.date_locale -%}
          {%- endif %} {{ page.updated | date(format="%B %d, %Y", locale=lang_locale) }}
          {%- else %} {{ page.updated | date(format="%B %d, %Y") }} {%- endif %}{% endif %}

{{ page.content | safe }}


    </div>
{%- endblock content %}
